@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

:root {
  --primary-color: #bf0101;
  --secondary-color: #b81515;
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;
  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

section.hero {
  width: 100%;
}

.section-title {
  width: 280px;
  margin: 0 auto 32px;
}

/* section {
  width: 312px;
  margin: 0 auto 88px;
} */

.section-title h2 {
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  color: var(--text-primary-color);
  text-align: center;
}

.section-title hr {
  width: 100px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px auto 32px;
}

.content-title {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.content.text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}

.button {
  min-width: 200px;
  height: 64px;
  color: var(--text-secondary-color);
  font-weight: var(--titles-weight);
  font-size: 20px;
  background-color: var(--secondary-color);
  display: inline-block;
  text-decoration: none;
  line-height: 64px;
  border-radius: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section {
    width: 648px;
  }

  .section-title {
    width: 100%;
    margin: 0 auto 32px;
  }

  .section-title h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    width: 900px;
  }

  .button:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width: 1440px) {
  .section {
    width: 1200px;
  }
}
