.hero-img {
  width: 100%; /* ← ocupa toda a largura disponível */
  height: 400px; /* ← altura fixa */
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px; /* ← altura fixa */
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px; /* ← altura fixa */
    background: url(../img/hero-desktop.jpg) no-repeat;
    background-size: cover;
  }
}