.payments {
  width: 312px;
  margin: 0 auto;
}

.space {
  margin-top: 104px;
}
.payments .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.thirdy {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments {
    width: 648px;
  }
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery1-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery2-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.third {
    background: url(../img/gallery3-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .payments {
    width: 900px;
  }
}
