.testimonial {
  width: 312px;
  margin: 88px auto 88px;
}

.testimonial {
  margin-top: 88px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
}

.testimonial-container footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
}

.testimonial-container footer img {
  width: 86px;
  height: 86px;
}

.testimonial-container footer .profile-content .rating .star {
  font-size: 32px;
  line-height: 32px;
  color: var(--secondary-color);
}

.testimonial-container footer .profile-content h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--title-weight);
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
